<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola</h1>
    <div id="main">

        <hr>
        <h3>Agregarw tarea</h3>
        <input type="text" placeholder="Tarea nueva" v-model='tarea'>
        <button v-on:click="agregarTarea">Agregar</button>

        <hr>
        <h2>Lista de tarea</h2>

        <ul>
            <li v-for="item in tareas">
                {{item}}
            </li>
        </ul>
        
        
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>
</html>